{% extends "base.html" %}

{% block title %} 盛名时刻表历史版本 {% endblock %}

{% block content %}
{% if version_list %}
  <table class="table table-striped">
    <thead>
      <th>
        文件名
      </th>
      <th>
        上传时间
      </th>
    </thead>
    <tbody>
    {% for version in version_list %}
      <tr>
        <td>
          <a href="http://cntrains.qiniu.com/{{version.key}}">
            {{version.key}}
          </a>
        </td>
        <td>{{version.uploadTime|date:"Y年n月j日"}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  Not found.
{% endif %}
{% endblock %}
